{% extends "base.html" %}

{% block title %}Product Page{% endblock %}

{% block content %}
<main>
    <nav>
        <ul>
            <li><a href="{{url_for('products.product', name='Vacuum cleaner', price=100)}}">Vacuum cleaner</a></li>
            <li><a href="{{url_for('products.theproduct')}}">Makbook</a></li>
        </ul>
    </nav>
    <h2>Product: {{name}}</h2>
    {% if price%}
    <p class="age">It costs: {{price }}.</p>
    {% else %}
    <p class="noAge">Price is unknonw.</p>
    {%endif%}
</main>
{% endblock %}