{% macro render_field(field, field_class='form-control') %}
<div class="{{ 'form-check mb-3' if field.type == 'BooleanField' else 'mb-3' }}">
  {{ field.label(class='form-label') }}
  {{ field(class=field_class ~ (' is-invalid' if field.errors else '')) }}
  
  {% if field.description %}
  <div class="form-text">{{ field.description }}</div>
  {% endif %}

  {% if field.errors %}
  <ul class="list-unstyled field-errors mt-2 mb-0">
    {% for error in field.errors %}
    <li class="text-danger small">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}