{% extends "base.html" %}

{% block content %}
<section class="site-panel rounded-4 p-4 p-lg-5 mb-4">
  <h1 class="fs-1  eyebrow mb-2">Лаболаторна №5</p>

</section>

<div class="row g-4">
  <div class="col-lg-6">
    <div class="site-card card rounded-4 h-100">
      <div class="card-body p-4">
        <h2 class="h4 mb-3">Завдання 1</h2>
        <a class="btn btn-primary" href="{{ url_for('contact') }}">Контактна форма</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="site-card card rounded-4 h-100">
      <div class="card-body p-4">
        <h2 class="h4 mb-3">Завдання 2</h2>
        <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Форма входу</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}